# --- GODOT INTERNAL ---
.godot/
*.translation
*.mono/
*.import

# --- IDE & TEXT EDITOR ---
.vscode/
.idea/
*.swp
*.swo
*.tmp

# --- EXPORT / BUILDS ---
build/
bin/
export/
*.apk
*.aab
*.exe
*.zip
export_presets.cfg

# --- SYSTEM & OS FILES ---
.DS_Store
Thumbs.db
desktop.ini
gpush.bat
pgpush.ps1